/* Import Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.speaker-profile-overlay * {
    color: white !important;
}

.speaker-details * {
    color: white !important!
}

.section speakers * {
    color: white !important!
}

#speakers-section * {
    color: white !important;
}

/* Body styling */
body {
  font-family: 'Inter', sans-serif;
}

/* Headings */
h1, h2, h3 {
  font-family: 'Inter', sans-serif;
}



