.speaker-profile-overlay * {
    color: white !important;
}

.speaker-details * {
    color: white !important!
}

.section speakers * {
    color: white !important!
}

.speaker-details ng-tns-c516894903-2 ng-trigger ng-trigger-expandIn ng-star-inserted * {
    color: white !important;
}
