@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

body {
  font-family: 'Work Sans', sans-serif !important; 
  font-weight: 500 !important;
}

.speaker-profile-overlay * {
    color: white !important;
}

.speaker-details * {
    color: white !important!
}

.section speakers * {
    color: white !important!
}

#speakers-section * {
    color: white !important;
}

.tickets-content .title {
  color: white !important; 
}

.step-title * {
  color: white !important;
}


