.speaker-details {
  color: white !important; 
}

.speaker-name {
   color: white !important; 
}

.speaker-title {
   color: white !important; 
}

.speakers-wrapper {
   color: white !important; 
}

.faq-answer {
  color: white !important;
}

.speaker-company-title ng-tns-c516894903-2 ng-star-inserted {
    color: white !important;
}

.ng-tns-c516894903-2 {
  color: white !important;
}

.speaker-bio,
.speaker-bio p,
.speaker-bio span {
  color: white !important;
}

.speaker-company-title {
    color: white !important;
}
