.speaker-details {
  color: white !important; 
}

.speaker-name {
   color: white !important; 
}

.speaker-title {
   color: white !important; 
}

.speakers-wrapper {
   color: white !important; 
}

.faq-answer {
  color: white !important;
}
